/*body color*/
body {
  background-color: #1b1b32;
  color: white;
}
.cur, h1 {
  font-family: cursive;
}

/* Main Container */
.container {
  max-width: 300px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header Section */
header {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

/* Form Section */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* Response Section */
#response {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #666;
}

/* Loader Container */
.loader-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 9999;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 16px solid #f3f3f3;
  border-top: 16px solid #4CAF50;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}